@import "../styles/theme";

.redRibbon {
  height: 7vh;
  background-color: $red-stripes;
}
.menuLayout {
  min-height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
