@import "../styles/global";

.img {
  height: 26vh;
  background-color: #fed631;
  background-image: url("../Images/african_lady.png");
  background-repeat: no-repeat;
  background-size: 47vh;
  background-position: left;
  margin-bottom: 5vh;
  position: relative;
}

.black_lady {
  width: 80%;
  padding-left: 5px;
}

.slogan,
.sloganPartTwo {
  @extend .catch-phrase;
  position: absolute;

  font-size: calc(3vh);
}

.slogan {
  bottom: 27%;
  left: 6%;
}

.sloganPartTwo {
  bottom: 13%;
  left: 20%;
}

.description {
  background-color: #4f8d1f;
  color: white;
  margin-top: 5vh;
  text-align: center;
  padding: 6vh;
  min-height: 17vh;
}

.descriptionText {
  text-align: left;
}

@media screen and (min-width: 481px) {
  .img {
    background-position: center;
  }
  .description {
    padding: 3vh 6vh 7vh;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
  }
  .descriptionText {
    text-align: left;
    width: 86%;
  }
}
