@import "../styles/global";


.img {
  height: 26vh;
  background-color: #fed631;
  background-image: url("../Images/african_lady.png");
  background-repeat: no-repeat;
  background-size: 47vh;
  background-position: left;
  margin-bottom: 4vh;
  position: relative;
}

.black_lady {
  width: 80%;
  padding-left: 5px;
}

.slogan, .sloganPartTwo{
 @extend .catch-phrase;
  position: absolute;

  font-size: calc(3vh);

}

.slogan{
  bottom: 27%;
  left: 6%;
}

.sloganPartTwo{
  bottom: 13%;
  left: 20%;
}
