@import "../../styles/theme";
.navContainer {
  min-width: 25%;
}

.navigationMenu {
  @extend .flexHorizontal;
  justify-content: space-evenly;
}

.hamburger,
.searchIcon {
  margin:0 1vh;
  :global {
    path:last-child {
      fill: #585858;
    }
  }
}

.navigationList {
}
